html{
  box-sizing: border-box;
}
/*Tamaño celulares pequeños*/
body {
    background:  url(../img/fondo-pantalla.png);
    background-position: center;
    
}

form {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 2rem;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.445);
  box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #00000098;
}

.imglogin{
  width: 100%;
}

.aceptar{
  height: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.checkbox{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.termycond{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  font-size: 70%;
  cursor: pointer;
}

input{
  border-radius: 20px;
  border: 2px rgb(202, 171, 134) dotted;
  padding-left: 15px;
}

 button{
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  background: bisque;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

button:hover{
  background: green;
  color: white;
  transition: 1s;
}


/*Tamaño celulares medianos */
@media screen and (min-width: 321px) and (max-width: 768px){

  
  form {
    width: 60%;
    background-color: rgba(123, 122, 122, 0.624);
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 920px){
body{
  height: 1180px;
  background-size: cover;
  background-repeat: no-repeat;
}
.imglogin{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
  
  form {
    width: 50%;
    background-color: rgba(126, 125, 125, 0.624);
    margin-top: 40px;
    margin-bottom: 0;
  }

  .termycond{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size: 20px;
  }
}

@media screen and (min-width: 921px){
  body {
    background-position: center center;
    background-size:cover;
    
}

.imglogin{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
  
  form {
    width: 20%;
    background-color: rgba(126, 125, 125, 0.624);
    margin: 30px 100% 0 30px;
  }

  .termycond{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size: 20px;
  }
}