html{
    box-sizing: border-box;
}

body{
    background: rgb(5, 167, 158);
    background-position: center;
    background-size: 100%;

}

.bienvenida{
    margin: 2rem 1rem ;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.945);
    border-radius: 2rem;
    border: dotted rgb(89, 89, 233) 2px;
    box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #00000098;
}

h1{
    margin-top: 1rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4); 
}

.parrafo1 {
    text-align: center;
    margin-top: 2rem;
}

.parrafo2{
    font-size: 80%;
    text-align: center;
    margin-top: 1rem;
}

.parrafo3{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.accordion-item{
    box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #00000098;
    border: 1px dotted rgb(89, 89, 233);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title-excersice{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
}

.p-titleexcersice{
    font-size: 2rem;
    border-bottom: dotted 1px green;
}


div{
    text-align: center;
}

label{
    margin-top: 1rem;
}

input{
    border-radius: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    text-align: center;
}
.respuesta1{
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: green;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    box-shadow: 3px 3px 10px #00000032, -3px -3px 10px #0000002a;
    transition: 1s;
}

.respuesta1:hover{
    background-color: yellow;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px green, -3px -3px 10px green;
}


.respuesta{
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: green;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    box-shadow: 3px 3px 10px #00000032, -3px -3px 10px #0000002a;
    transition: 1s;
}

.respuesta:hover{
    background-color: yellow;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px green, -3px -3px 10px green;
}



@media screen and (min-width: 321px) and (max-width: 768px){
    body{
        background: orange
    }

    form{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;       
    }
    
    label{
        font-size: 100%;
        display: block;
        margin-top: 1rem;     
    }
    
    input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 120%;
        border-radius: 1rem;
        padding-left: 1rem;
        cursor: pointer;
        text-align: center;
    }

}


@media screen and (min-width: 769px) and (max-width: 920px){
    body{
    background: rgb(70, 110, 10);
    }

    .bienvenida{
        margin: 4rem 1rem ;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.945);
        border-radius: 2rem 0 2rem 0;
        border: dotted rgb(89, 89, 233) 2px;
        box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #ffffff98;
    }
    
    h1{
        font-size: 3rem;
        margin-top: 1rem;
        border-bottom: 2px solid rgba(128, 128, 128, 0.4); 
    }
    
    .parrafo1 {
        font-size: 150%;
        text-align: center;
        margin-top: 2rem;
    }
    
    .parrafo2{
        font-size: 120%;
        text-align: center;
        margin-top: 1rem;
    }
    
    .parrafo3{
        font-size: 150%;
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        
    }
    
    .accordion-item{
        box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #00000098;
        border: 1px dotted rgb(89, 89, 233);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .title-excersice{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: none;
        padding-left: 10%;
        
    }
    
    .p-titleexcersice{
        font-size: 4rem;
        border-bottom: dotted 1px green;
        
    }

    p{
        font-size: 130%;
    }
    
    
    form{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;       
    }
    
    label{
        font-size: 150%;
        display: block;
        margin-top: 1rem;     
    }
    
    input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 120%;
        border-radius: 1rem;
        padding-left: 1rem;
        cursor: pointer;
        text-align: center;
    }

    .respuesta{
        border-radius: 1rem;
        margin-top: 1rem;
        background-color: green;
        border: 2px solid rgb(255, 255, 255);
        color: white;
        box-shadow: 3px 3px 10px #00000032, -3px -3px 10px #0000002a;
        transition: 1s;
        font-size: 150%;
    }
}

@media screen and (min-width: 921px){
    body{
        background: url(../img/fondo-pantalla-exercise.png) fixed;
    }

    .bienvenida{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 20px rgba(255, 166, 0, 0.445), -10px -10px 20px rgba(255, 166, 0, 0.349);
    }

    h1{
        font-size: 4rem;
        margin-top: 1rem;
        border-bottom: 2px solid rgba(128, 128, 128, 0.4); 
    }

    .parrafo3{
        font-size: 180%;
        color: rgb(12, 12, 12);
    }

    .accordion-item{
    box-shadow: 10px 10px 20px #00000098, -10px -10px 20px #00000098;
    border: 1px dotted rgb(89, 89, 233);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

    form{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;       
    }
    
    label{
        font-size: 130%;
        display: block;
        margin-top: 1rem;     
    }
    
    input{
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 130%;
        border-radius: 1rem;
        padding-left: 1rem;
        cursor: pointer;
        text-align: center;
    }

    .p-titleexcersice{
        font-size: 250%;
        border-bottom: dotted 1px green;
        
    }

    .title-excersice{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
        
    }